<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aura.core.mapper.UserMapper">

    <select id="findUser"
            parameterType="com.aura.core.entity.Users"
            resultType="com.aura.core.entity.Users">
        SELECT id, username, password, email, sex, age FROM users
        <where>
            <if test="email != null and email != ''">
                AND email = #{email}
            </if>
            <if test="sex != null">
                AND sex = #{sex}
            </if>
            <if test="age != null and age != ''">
                AND age = #{age}
            </if>
            <if test="username != null and username != ''">
                AND username = #{username}
            </if>
        </where>
    </select>

    <select id="findUserInfo"
            parameterType="com.aura.core.dto.UserDto"
            resultType="com.aura.core.dto.UserDto">
        SELECT * FROM users
        <where>
            <if test="id != null and id != ''">
                AND id = #{id} ::uuid
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.aura.core.dto.UserDto">
        INSERT INTO users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            password,
            <if test="email != null and email != ''">email,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null and age != ''">age,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{username},
            #{password},
            <if test="email != null and email != ''">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
        </trim>
    </insert>

    <delete id="deleteUser">
        DELETE FROM users WHERE username = #{username}
    </delete>

    <update id="updateUser">
        UPDATE users
        <set>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="username != null and username != ''">username = #{username},</if>
        </set>
        WHERE username = #{username}
    </update>

</mapper>
